body {
	background-image: url("/static/22-Orange-KD-109-1024x768.jpg");
	background-size: cover;
	background-position: center;
	font-family: Arial, sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


/* Barre de navigation noire */
.navbar-black {
	background-color: #000000;
	color: #ffffff;
}

/* Menu déroulant de recherche */
form select {
	margin-right: 10px;
}

form input[type="text"] {
	width: 200px;
	margin-right: 10px;
	padding: 5px;
	border: 1px solid #cccccc;
}

form button[type="submit"] {
	padding: 5px 10px;
	background-color: #333333;
	color: #ffffff;
	border: none;
}

.selecteur{
	width: 300px;
	margin-right: 10px;
	padding: 5px;
	border: 1px solid #cccccc;
}

/* Image de fond */
.background-image {
	background-color: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	padding: 218px 0;
	text-align: center;
}

.background-image h1 {
	font-size: 40px;
	margin-bottom: 20px;
}

.background-image p {
	font-size: 20px;
	margin-bottom: 40px;
}