.bg-orange {
  background-color: rgb(78, 77, 77);
  
}

.table-container {
        max-width: 100%;
        overflow-x: auto;
      }
      
      table {
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        border: 1px solid #ccc;
        padding: 8px;
      }

      .highlighted {
    background-color: #ff6600;
  }
      .navbar {
        background-color: black;
        position: sticky;
        top: 0;
      }

      .navbar-light .navbar-brand,
      .navbar-light .navbar-nav .nav-link {
        color: white;
        
      }
      a:hover{
        color: #ff6600;
      }
       .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      .table-container {
  max-width: 100%;
  overflow-x: auto;
  max-height: 550px; /* hauteur maximale de la div */
  overflow-y: auto; /* affiche la barre de défilement verticale au besoin */
  overflow-x: hidden; /* masque la barre de défilement horizontale */
  border-radius: 10px;
  border: 2px solid #ff6600;
  box-shadow: 20px orange;
} 

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid white;
  padding: 8px;
}
tbody{
background: rgb(206, 204, 204);
}
thead {
  position: sticky;
  top: 0;
  background: rgb(78, 77, 77);; 
  color: #ff6600;
}
button {
  display: inline-block;
  background-color: #ff6600;
  border-radius: 10px;
  border: 2px double #cccccc;
  color: black;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}
button:hover {
  background-color: black;
  color: #ff6600;
}

* {
  box-sizing: border-box;
}

.form-conteneur {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px gray;
  background-color: black;
  color: #ff6600;
  width: 80%;
  margin-left: 10%;
}

.form-start {
  display: flex;
  flex-wrap: wrap;
}

.form-start > div {
  flex-basis: 100%;
  padding: 10px;
}

.form-start > div.section-1,
.form-start > div.section-2 {
  flex-basis: 50%;
}

.form-start label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 13px;
}

.form-start input[type="text"],
.form-start input[type="date"],
.form-start input[type="week"],
.form-start input[type="time"],
.form-start input[type="datetime-local"],
.form-start select,
.form-start textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #c9c6c6;
  font-size: 13px;
}

.form-start input[type="file"] {
  background-color: transparent;
  padding: 0;
  float: right;
}

.form-start input[type="submit"] {
  background-color: #c9c6c6;
  color: #ff6600;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  width: 30%;
  margin-left: 35%;
}

.form-start input[type="submit"]:hover {
  background-color: #ff6600;
  color: white;
}

.form-start textarea {
  resize: vertical;
  min-height: 100px;
}

.form-start input[type="checkbox"] {
  display: inline-block;
  margin-right: 5px;
  transform: scale(1.5);
  
}

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("/static/View-from-the-lagun-Photo-Francois-Xavier-Gbre-1536x747.jpg");

  /* Control the height of the image */
  min-height: 591px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* Add styles to the form container */
.container {
  position: absolute;
  right: 55%;
  margin-top: 50px;
  margin-left: 75%;
  margin-right: 5%;
  padding: 16px;
  background-color: rgb(71, 70, 70);
  color: white;
  border-radius: 5px;

}

.sub_bg-img {
  position: absolute;
  margin-top: 50px;
  padding: 16px;
  background-color: rgb(71, 70, 70);
  color: white;
  border-radius: 5px;

}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  height: 30px;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.dropdown-menu {
  background-color: #fff;
  border: 1px solid #000;
  padding: 0.5rem;
}

.dropdown-item {
  color: #000;
}

.dropdown-divider {
  border-top: 1px solid #000;
  margin: 0.5rem 0;
}
/* Set a style for the submit button */
