<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    .navbar-light .navbar-brand,
      .navbar-light .navbar-nav .nav-link {
        color: white;
      }
      tr {
  display: table-row;
}
tr.hide {
  display: none;
}
      </style>
    <title>{% block title %}  {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-orange text-white">
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='téléchargement.png') }}" width="40" height="40" class="d-inline-block align-top" alt="">
        SMC-IT OCI
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 60%;"> 
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"  href="#">Importer une fiche</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nouveau rapport</a>
          </li>
        </ul>
      </div>
    </nav>
    <div style="float: center; margin-left: 10%; width: 80%;">
      <form method="get" action="{{ url_for('search') }}">
        <label for="query">Recherche :</label>
        <input type="text" id="query" name="query" />
        <button type="submit">Chercher</button>
      </form>
      <br>
      <div class="table-container">
      <table id="dataTable" class="table-hover " style="font-size: x-small; border: 1px solid white;">
      <thead style="background: black; color: #ff6600;">
        <tr>
          <th>#</th>
          <th>DATE</th>
          <th>SEMAINE</th>
          <th>APPLICATION</th>
          <th>DUREE</th>
          <th>Durée de Travail</th>
          <th>IMPACT</th>
          <th>CAUSE</th>
          <th>SOURCE DE LA_CAUSE</th>
          <th>SOLUTION</th>
          <th>TICKET</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td><b>{{ row[0] }}</b></td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
          <td>{{ row[8] }}</td>
          <td>{{ row[9] }}</td>
          <td>{{ row[10] }}</td>
          <td>{{ row[11] }}</td>
          <td>{{ row[13] }}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div> 
    <!-- Optional JavaScript -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
</html>