<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
    <title>Formulaire de saisie</title>
</head>
<body>
    
    <div class="form-conteneur">
    <form method="POST" enctype="multipart/form-data" class="form-start" action="{{ url_for('add') }}">
            <h2>Renseigner un nouvel incident dans la base de connaissance</h2>
            <div class="section-1">
                <label for="date" class="input-group.input-group-icon">Date :</label>
                <input type="date" name="date" id="date"  required>

                <label for="type" class="input-group.input-group-icon">Type :</label>
                <select name="type" id="type"  required>
                  <option >Instabilité</option>
                  <option >Indisponibilité</option>
                  <option >Traveaux programmés</option>
                </select>
                
                <label for="service" class="input-group.input-group-icon">Service en charge :</label>
                <select name="service" id="service"  required>
                <option value="service1">Exploitation des applications</option>
                <option value="service2">Bases de données</option>
                <option value="service3">Réseau interne</option>
              </select>
              {% if user %}
              <label for="login" class="input-group.input-group-icon">Rédacteur :</label>
              <input type="text" name="login" id="login" value="{{user[1]}}" readonly>
              {% endif %}
              </div>
            <div class="section-2">
              <label for="application" class="input-group.input-group-icon">Application :</label>
              <select name="application" id="application"  required>
                <option value="">-- Choisissez l'application --</option>
                <option value="">ALCHEMY Factures FMI</option>
                <option value="">ALCHEMY JDE</option>
                <option value="">Alchemy360</option>
                <option value="">ASP INTERCO MOBILE & FIXE</option>
                <option value="">AVA</option>
                <option value="">BOOSTER SVA</option>
                <option value="">BSCS (CX/AX/RATING/BILLING)</option>
                <option value="">BUSINESS OBJECT</option>
                <option value="">CALISTA</option>
                <option value="">CARTE INTERACTIVE</option>
                <option value="">CENTREON EXODE</option>
                <option value="">CLICK SENSES</option>
                <option value="">CLICKVIEW</option>
                <option value="">COLOMB</option>
                <option value="">CPANEL</option>
                <option value="">CRBT</option>
                <option value="">CUSTOMER CARE FIXE (CCF)</option>
                <option value="">DIMELO (Social CRM)</option>
                <option value="">DELTA FIXE</option>
                <option value="">DELTA MOBILE</option>
                <option value="">DRONE</option>
                <option value="">EASY</option>
                <option value="">E-Bulletin</option>
                <option value="">ECONTROL</option>
                <option value="">EPISOFT/ VISUAL RAPPRO</option>
                <option value="">ESB SI (BOOSTER)</option>
                <option value="">ETT (TRANSIT)</option>
                <option value="">EVE</option>
                <option value="">FOLENI</option>
                <option value="">GAIA</option>
                <option value="">GLPI</option>
                <option value="">HADOOP</option>
                <option value="">HCM</option>
                <option value="">IDBASE</option>
                <option value="">IN ZTE</option>
                <option value="">IRIS</option>
                <option value="">IXCOLLECTION</option>
                <option value="">IVR</option>
                <option value="">JADE CRM</option>
                <option value="">JDE</option>
                <option value="">KARMA</option>
                <option value="">KPSA (FIXE-MOBILE-INTERNET)</option>
                <option value="">KSL FIXE, MOBILE</option>
                <option value="">LEASING FAMOCO</option>
                <option value="">LIGNE DEMANDE INTERNE</option>
                <option value="">MACH (Roaming)</option>
                <option value="">MAGISTERE</option>
                <option value="">MAESTRO</option>
                <option value="">MANTIS</option>
                <option value="">MÉTÉO</option>
                <option value="">MESSAGERIE</option>
                <option value="">NA</option>
                <option value="">OCEANE</option>
                <option value="">OPC</option>
                <option value="">ORANGE ACS</option>
                <option value="">ORANGE PARTENAIRES</option>
                <option value="">OVD</option>
                <option value="">PCU & OCM</option>
                <option value="">PHOENIX</option>
                <option value="">PLATINE</option>
                <option value="">PLAZZA</option>
                <option value="">PORTAIL FOURNISSEUR</option>
                <option value="">PYX4</option>
                <option value="">QUICKPAY</option>
                <option value="">RECRUTEMENT</option>
                <option value="">RIGHT TV</option>
                <option value="">RIGHTQUEUE</option>
                <option value="">ROM</option>
                <option value="">SAGE</option>
                <option value="">SANDVINE</option>
                <option value="">SELFCARE</option>
                <option value="">Signature électronique dans l'outil JDE</option>
                <option value="">SHAREPOINT</option>
                <option value="">SHERLOCK</option>
                <option value="">SKATE</option>
                <option value="">SPRINT</option>
                <option value="">SWAN</option>
                <option value="">TALKMAN</option>
                <option value="">TALEND</option>
                <option value="">TANGO</option>
                <option value="">TERADATA</option>
                <option value="">TRACKER</option>
                <option value="">USSD</option>
                <option value="">VUE 360°</option>
                <option value="">W4</option>
                <option value="">WATSON</option>
                <option value="">WORLFLOW DMI</option>
                <option value="">YELEN</option>
                <option value="">ZEBRA</option>
              </select>
                <label for="date_heure_debut" class="input-group.input-group-icon">Date et heure de début :</label>
                <input type="datetime-local" name="date_heure_debut" id="date_heure_debut"  required>

                <label for="date_heure_fin" class="input-group.input-group-icon">Date et heure de fin :</label>
                <input type="datetime-local" name="date_heure_fin" id="date_heure_fin"  required>

                <label for="ticket" class="input-group.input-group-icon">Ticket :</label>
                <input type="text" name="ticket" id="ticket"  >
            </div>
            <div class="section-3">
                <label for="description" class="input-group.input-group-icon">Description :</label>
                <textarea name="description" id="description"  ></textarea>

                <label for="impact" class="input-group.input-group-icon">Impact :</label>
                <textarea name="impact" id="impact"  ></textarea>
              </div>
            <div class="section-4">
                <label for="cause" class="input-group.input-group-icon">Cause :</label>
                <textarea name="cause" id="cause"  ></textarea>
                <label for="source_cause" class="input-group.input-group-icon">Source de la cause :</label>
                <select name="source_cause" id="source_cause"  >
                  <option >Applicative</option>
                  <option >Base de données</option>
                  <option >Réseau</option>
                </select>
                <label for="incident_clos">L'incident est-il clos ?</label>
                <input type="checkbox" name="incident_clos" id="incident_clos" value="oui" onclick="checkOnlyOne(this)" >
                  Oui
                <input type="checkbox" name="incident_clos" id="incident_clos" value="non" onclick="checkOnlyOne(this)">
                  Non
                </label>
            </div>
            <div class="section-5">
                <label for="solution" class="input-group.input-group-icon">Solution temporaire :</label>
                <textarea name="solution" id="solution" placeholder="Décrire les solutions temporairement appliquées" ></textarea>
                <label for="solution_definitive" class="input-group.input-group-icon">Solution définitive :</label>
                <textarea name="solution_definitive" id="solution_definitive" placeholder="S'il n'y a pas de solution definitive à cet incident, écrivez juste RAS !"  ></textarea>
            </div>
            <div class="section-6">
                
                <label for="fiche" class="input-group.input-group-icon" style="margin-left: 65%;">Fiche détails :</label>
                <input type="file" name="fiche" id="fiche">
                <label for="point_suivi">Le point est-il suivi ? 
                <input type="checkbox" name="point_suivi" id="point_suivi" value="oui" onclick="checkOnlyOne(this)">
                 OUI
                <input type="checkbox" name="point_suivi" id="point_suivi" value="non" onclick="checkOnlyOne(this)" >
                 NON
                </label>
              </div>
              <div class="section-8">
                <input type="submit" value="Enregistrer">
              </div>
    </form>
    </div>

    <script src="{{ url_for('static', filename='js/pop-up.js') }}"></script>
</body>
</html>