<!doctype html>
<html lang="fr">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>{% block title %} SMC-IT OCI {% endblock %}</title>
    <style>
      .navbar-light .navbar-brand,
      .navbar-light .navbar-nav .nav-link {
        color: white;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-orange text-white">
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='téléchargement.png') }}" width="40" height="40" class="d-inline-block align-top" alt="">
        <a class="nav-link"  href="#" style="color: white;"> <b> SMC-IT OCI </b></a>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div  style="color: white; margin-left: 10%;">
      <h3> <b> Base de connaissance  </b></h3>
      </div>

      <div class="collapse navbar-collapse" id="navbarNav"> 
        <ul class="navbar-nav" style="margin-left: 10%;">
          <li class="nav-item">

            <form method="POST" action="{{ url_for('search') }}">
              <input type="search" placeholder="Recherche" name="query">
              <button type="submit">Rechercher</button>
            </form>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <button id="ajouter_btn">
              Nouveau rapport
          </button>
          </li>
        </ul>
      </div>
    </nav>
    <div style="float: center; margin-left: 5%; width: 90%;">
    <br>
    
    {% for year, rows in data_by_year.items() %}
      <div class="table-container">
        <h2>{{ year }}</h2>
      <table id="dataTable" class="table-hover " style="font-size: x-small; border: 1px solid #ff6600;">
      <thead style="background: #ff6600; color: white">
        <tr>
          <th>
            <select name="num" id="num"> 
            <option value="">#</option>
            {% for row in rows %}
            <option value="">{{ row[0] }}</option>
            
            {% endfor %}
            
          </select>
          </th>
          <th>
            <select name="date" id="date"> 
              <option value="">DATE</option>
              {% for row in rows %}
              <option value="">{{ row[1] }}</option>
              
              {% endfor %}
              
            </select>
            </th>
          <th>
            <select name="sem" id="sem"> 
              <option value="">SEMAINE</option>
              {% for row in rows %}
              <option value="">{{ row[2] }}</option>
              
              {% endfor %}
              
            </select>
            </th>
          <th>
            <select name="app" id="app"> 
              <option value="">APPLICATION</option>
              {% for row in rows %}
              <option value="">{{ row[3] }}</option>
              
              {% endfor %}
              
            </select>
            </th>
          <th>
            <select name="duree" id="duree"> 
              <option value="">DUREE</option>
              {% for row in rows %}
              <option value="">{{ row[4] }}</option>
              
              {% endfor %}
              
            </select>
            </th>
          <th>Durée de Travail</th>
          <th>
             
              IMPACt
            
            </th>
          <th>
            CAUSE
            </th>
          <th>
            <select name="dispo" id="dispo"> 
              <option value="">Disponibilité</option>
              {% for row in rows %}
              <option value="">{{ row[6] }}</option>
              
              {% endfor %}
              
            </select>
            </th>
          <th>SOURCE DE LA_CAUSE</th>
          <th>SOLUTION</th>
          <th>
            <select name="ticket" id="ticket"> 
              <option value="">TICKET</option>
              {% for row in rows %}
              <option value="">{{ row[13] }}</option>
              
              {% endfor %}
              
            </select>
            </th>
          <th>Fiche d'incident</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
          <td><b>{{ row[0] }}</b></td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>105:00:00</td>
          <td>{{ row[8] }}</td>
          <td>{{ row[9] }}</td>
          <td>{{ row[6] }}</td>
          <td>{{ row[10] }}</td>
          <td>{{ row[11] }}</td>
          <td>{{ row[13] }}</td>
          <td>
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('download') }}">
              <input name= 'ticket' type="text" hidden value="{{ row[13] }}">
              <button type="submit">Génerer la fiche</button>
            </form>
          </td>
        </tr>
        
        {% endfor %}
      </tbody>
      </table>
    </div>
    <br>
    {% endfor %}
    
  </div> 
    <!-- Optional JavaScript -->
    <script src="{{ url_for('static', filename='js/pop-up.js') }}"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
</html> 