<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="static/css/index.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <title>{% block title %} SMC-IT OCI {% endblock %}</title>
    
      </head>
	  <body>

		<!-- Barre de navigation noire -->
		<div class="navbar black" style="background-color: #000000;
		color: #ff6600;">
			<a class="navbar-brand" href="#">
				<img src="{{ url_for('static', filename='téléchargement.png') }}" width="40" height="40" class="d-inline-block align-top" alt="">
				<b style="color: white;"> SMC-IT OCI </b>
			  </a>
			<a href="#" style="color: #ff6600;">
				<b>Tutos</b> 
				<img src="{{ url_for('static', filename='tuto_icone-removebg-preview.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
			</a>
			
			<!--<a href="#" style="color: #ff6600;"> 
				<b> ChatBot</b>
				<img src="{{ url_for('static', filename='chat_icone-removebg-preview.png') }}" width="50" height="30" class="d-inline-block align-top" alt="">
			</a>
		-->
			<a href="#" style="color: white;">Se connecter</a>
			
		</div>

		<!-- Barre de navigation blanche 
		<div class="navbar white">
			<a href="#" style="color: #ff6600;"> <b>Tutos</b> </a>
			<a href="#" style="color: #ff6600;"> <b> Fiches d'incident</b></a>
			<a href="#" style="color: #ff6600;"> <b> Nouvel incident </b></a>
			<a href="#" style="color: #ff6600;"> <b> Chatter</b></a>
		</div>
	-->
	
		<!-- Image de fond -->
		<div class="background-image">
			
			<div class="content">
				<h1>Bienvenue dans la base de connaissance !</h1> 
				<div class="navbar white">
					<img src="{{ url_for('static', filename='cercle_noir.png') }}" class="d-inline-block align-top" alt="">
					<a class="nav-link"  href="#" style="color: white;"> <b> SMC-IT OCI </b></a>
					<img src="{{ url_for('static', filename='cercle_orange.png') }}"  class="d-inline-block align-top" alt="">
					<a class="nav-link"  href="#" style="color: black;"> <b> SMC-IT OCI </b></a>
					<img src="{{ url_for('static', filename='cercle_gris.png') }}" width="100" height="100" class="d-inline-block align-top" alt="">
					<a class="nav-link"  href="#" style="color: #ff6600;"> <b> SMC-IT OCI </b></a>
					<!-- Contenu de la page -->
				</div>
		</div>
		<!-- Optional JavaScript -->
		<script src="{{ url_for('static', filename='js/pop-up.js') }}"></script>
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
