<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>{% block title %} Connection à la base de connaissance {% endblock %}</title>
    <style>
      .navbar-light .navbar-brand,
      .navbar-light .navbar-nav .nav-link {
        color: white;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-orange text-white">
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='téléchargement.png') }}" width="40" height="40" class="d-inline-block align-top" alt="">
        <a class="nav-link"  href="#" style="color: white;"> <b> SMC-IT OCI </b></a>
      </a>
    </nav>

<div class="bg-img">
    <form method="post" action="{{ url_for('login') }}" class="container" style="width: 500px; height: 350px; opacity: 0.8;">
      <h3>Base de Connaissance</h3>
      <br>
      <label for="email"><b>Login</b></label>
      <input type="text" placeholder="Entrer votre login" name="username" required>
  
      <label for="psw"><b>Mot de passe</b></label>
      <input type="password" placeholder="Entrez votre mot de passe" name="password" required>
      <br>
      <br>
  
      <button type="submit" style="margin-left: 40%;">Se connecter</button>
    </form>
  </div>
    
</body>
</html>